/* font */
@font-face {
  font-family: "Eudoxussans";
  src: url(./font/607e10c732d3054763d2f6ca_EudoxusSans-Medium.woff);
}
@font-face {
  font-family: "Inter";
  src: url(./font/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(./font/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2);
}

body {
  font-size: 14px;
  line-height: 20px;
  color: #081c3a;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  overflow-x: hidden;
}

.w-dropdown-list {
  position: absolute;
  background: #dddddd;
  display: none;
  min-width: 100%;
}
.w-nav {
  position: relative;
  background: #dddddd;
  background-color: rgb(221, 221, 221);
  z-index: 1000;
}
/* Main */
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 48px;
  line-height: 1.25em;
  font-weight: 600;
  letter-spacing: -0.025em;
}
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 34px;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: -0.03em;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 1.25em;
  font-weight: 500;
  letter-spacing: -0.03em;
}
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.01em;
}
a:hover {
  outline: 0;
}
.dropdown-lottie {
  display: flex;
  width: 14px;
  margin-left: 9px;
  justify-content: center;
  align-items: center;
}
.w-dropdown {
  display: inline-block;
  position: relative;
  text-align: left;
  /* margin-left: auto; */
  margin-right: auto;
  z-index: 900;
}
.w-dropdown-list {
  position: absolute;
  background: #dddddd;
  display: none;
  min-width: 100%;
}
.dropdown-list.w--open {
  left: 0px;
  right: 0px;
  display: flex;
  padding-top: 12px;
  justify-content: flex-end;
  background-color: transparent;
}
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  /* padding: 20px; */
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}
.dropdown-button {
  display: flex;
  padding: 16px 32px;
  border-radius: 5px;
  background-color: #3572ff;
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #fff;
}
.w-dropdown-toggle:focus {
  outline: 0;
}
.w-dropdown-toggle {
  user-select: none;
  /* display: inline-block; */
  cursor: pointer;
  /* padding-right: 40px; */
}
.dropdown-lottie {
  display: flex;
  width: 14px;
  margin-left: 9px;
  justify-content: center;
  align-items: center;
}
.dropdown-lottie-choose {
  display: flex;
  width: 14px;
  margin-left: 9px;
  justify-content: center;
  align-items: center;
}
.flipped {
  transform: rotate(180deg);
}
.dropdown-wrapper {
  display: grid;
  min-height: 200px;
  min-width: 500px;
  padding: 24px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 18px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 6px 48px -4px rgba(53, 64, 117, 0.1);
}
.body-display {
  color: #516381;
  font-size: 17px;
  line-height: 1.6em;
  font-weight: 400;
}

.w-pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.w-pagination-next {
  display: block;
  color: #333;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
}
.w-inline-block {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
  max-width: 100%;
  display: inline-block;
}
/* navbar */
.navbar {
  display: flex;
  padding-right: 0vw;
  padding-left: 0vw;
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  justify-content: center;
  border-bottom: 1px none rgba(192, 192, 211, 0.2);
  background-color: transparent;
}

.top-nav-wrapper {
  display: grid;
  padding-right: 0px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  /* grid-row-gap: 16px; */
  grid-template-columns: minmax(80px, 1fr) minmax(auto, 1400px) minmax(
      80px,
      1fr
    );
  grid-template-rows: auto;
}
.left-nav {
  width: 80px;
  height: 80px;
  position: relative;
  border-color: rgba(239, 239, 247, 0);
  will-change: width, height;
  display: flex;
  border-right: 1px solid rgba(192, 192, 211, 0.2);
  border-bottom: 1px solid rgba(192, 192, 211, 0.2);
  background-color: #fff;
  grid-area: 1/1/2/2;
  z-index: 25;
}
.flyout-menu {
  width: 100%;
  justify-content: center;
  align-items: center;
  border-right: 1px none rgba(192, 192, 211, 0.2);
  border-bottom: 1px none rgba(192, 192, 211, 0.2);
  cursor: pointer;
  display: flex;
}
.menu-lottie {
  display: flex;
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
}
.menu-lottie::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  background: #081c3a;
  margin-top: -12px;
}
.menu-lottie::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  background: #081c3a;
  margin-bottom: -12px;
}
.menu-open::before {
  content: "";
  position: absolute;
  left: 26px;
  width: 26px;
  height: 2px;
  background: #081c3a;
  transform: rotate(45deg);
}
.menu-open::after {
  content: "";
  position: absolute;
  left: 26px;
  width: 26px;
  height: 2px;
  background: #081c3a;
  transform: rotate(-45deg);
}
.nav-content {
  will-change: width, height;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 36px;
  padding-right: 0px;
  grid-area: 1/1/2/3;
  margin-left: 80px;
  border-bottom: 1px none rgba(192, 192, 211, 0.2);
  z-index: 15;
}
.navigation-shade {
  position: relative;
  display: flex;
  height: 100%;
  margin-left: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(192, 192, 211, 0.2);
  background-color: #fff;
  grid-area: 1/1/2/4;
}
.nav-menu {
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 40;
  display: flex;
  overflow: hidden;
  height: 100%;
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
.nav-menu-links {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.nav-link {
  position: relative;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 18px;
  padding-left: 18px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px none rgba(15, 19, 38, 0);
  color: #081c3a;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}
.link-text {
  position: relative;
  z-index: 10;
}
.link-cover {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: auto;
  height: 100%;
  max-height: 42px;
  border-radius: 5px;
  background-color: #f7f8fc;
}
.brand {
  position: relative;
  float: left;
  display: flex;
  font-family: Eudoxussans, sans-serif;
  color: #081c3a;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 24px;
  align-items: center;
  font-family: Eudoxussans, sans-serif;
  z-index: 25;
}
.nav-brand-text {
  display: flex;
  justify-content: center;
}
.right-nav {
  display: grid;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.thin-span {
  font-weight: 500;
}
.nav-button {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.2);
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0);
  color: #081c3a;
  font-size: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}
.w-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
}
.w-background-video {
  color: white;
}
/* scroll */
.scroll-indicator {
  display: grid;
  justify-content: space-between;
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 49;
  padding-top: 80px;
  padding-bottom: 24px;
  grid-template-rows: minmax(200px, 620px) auto;
  grid-template-columns: 1fr;
  border-right: 1px solid rgba(192, 192, 211, 0.2);
  width: 80px;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.indicator-wrapper {
  overflow: hidden;
  width: 3px;
  margin-top: 36px;
  margin-bottom: 36px;
  flex: 1;
  border-radius: 100px;
  background-color: rgba(192, 192, 211, 0.2);
  align-self: stretch;
  justify-self: center;
}
.indicator-fill {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  border-radius: 100px;
  will-change: transform;
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}
.indicator {
  width: 100%;
  height: 20%;
  border-radius: 100px;
  background-color: #d2d2e0;
}
.social-sidebar-icons {
  align-self: end;
  justify-self: center;
  display: grid;
  grid-row-gap: 6px;
  grid-auto-columns: 1fr;
  grid-column-gap: 6px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
.sidebar-icon {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.2);
  border-radius: 100px;
  background-color: rgba(174, 174, 192, 0.05);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav-button-toggle {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 12px 18px;
  align-items: center;
}
.flyout-menu-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 20;
  display: none;
  width: 100%;
  background-color: rgba(7, 18, 36, 0.64);
}
.flyout-menu-content {
  position: relative;
  z-index: 10;
  display: grid;
  overflow: hidden;
  width: 448px;
  max-width: 448px;
  padding: 116px 0px 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 48px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: #fff;
}
.flyout-heading {
  padding-left: 80px;
}
.scroll-flyout-wrapper {
  overflow: auto;
  margin-right: 12px;
}
.vacation-continents {
  display: grid;
  padding: 0px 24px 36px 80px;
  flex-direction: column;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 48px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.flyout-info-box {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 18px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  align-self: start;
}
.continent-list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 9px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.flyout-info-box {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 18px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.flyout-social-media {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}
.agent-social-media {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: 6px;
  grid-row-gap: 16px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-self: start;
}
.agent-social-icon {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.2);
  border-radius: 100px;
  background-color: #f7f8fc;
}
.close-flyout {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  cursor: pointer;
}
.quick-link-list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.quick-link-item {
  display: grid;
  padding: 18px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.2);
  border-radius: 5px;
  background-color: #f7f8fc;
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #081c3a;
  text-decoration: none;
}
.flyout-social-media .subtitle {
  align-self: center;
}
.horizontal-line {
  height: 1px;
  flex: 1;
  background-color: rgba(192, 192, 211, 0.2);
  justify-self: stretch;
  align-self: center;
}
.destinations-list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  letter-spacing: 0px;
  text-transform: none;
}
.location-card {
  position: relative;
  display: grid;
  overflow: hidden;
  height: 100%;
  padding: 24px 18px 24px 24px;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.2);
  border-radius: 4px;
  background-color: transparent;
  transition: box-shadow 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #081c3a;
  text-decoration: none;
}
.location-name {
  position: relative;
  z-index: 10;
  display: grid;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 9px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.subtitle-dynamic-text {
  position: relative;
  z-index: 10;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 16px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}
.card-arrow-icon {
  position: relative;
  z-index: 10;
  display: flex;
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 100px;
}
.vacation-card-arrow {
  width: 14px;
}
.location-card-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  border-radius: 4px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}
.body {
  font-family: Inter, sans-serif;
  color: #081c3a;
}

/* Inner Page Hero */
.open-top,
.open-bottom {
  position: fixed;
  width: 100vw;
  height: 50vh;
  background-color: white;
  transition: 2s;
  z-index: 5000;
}
.open-top {
  top: 0;
}
.open-bottom {
  bottom: 0;
}
.inner-page-hero {
  position: relative;
  display: flex;
  overflow: hidden;
  min-height: 700px;
  padding-top: 80px;
  padding-bottom: 0px;
  justify-content: center;
  color: #fff;
}
.grid-wrapper {
  position: relative;
  z-index: 10;
  display: grid;
  width: 100%;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: minmax(80px, 1fr) minmax(auto, 1400px) minmax(
      80px,
      1fr
    );
  grid-template-rows: 1fr;
}
.inner-page-intro {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  color: #fff;
  text-align: center;
  justify-self: stretch;
  align-self: center;
  grid-area: 1/2/2/3;
}
.hero-intro {
  display: grid;
  max-width: 755px;
  padding-left: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 18px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  text-align: center;
  align-self: center;
  grid-area: 1/1/2/4;
  justify-self: center;
}
.subtitle {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.subtitle.large {
  font-size: 14px;
}
.subtitle-intro-wrapper {
  position: relative;
  z-index: 10;
  display: grid;
  grid-auto-columns: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}
.xxl-heading {
  font-size: 68px;
  line-height: 1.1em;
}
.hero-background-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-image: url("https://assets.website-files.com/60675f13ea324fdd4af9ef2a/6074ef622e17622ba2a018a4_Villa0017.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-background-image.journal-hero-background {
  background-image: url("https://assets.website-files.com/60675f13ea324fdd4af9ef2a/6075041a5cc5c760b623c7e7_Travel004.jpeg");
}
.overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(15, 19, 38, 0.55);
}
.overlay.dark {
  background-color: rgba(15, 19, 38, 0.55);
}

/* Future of Travel */
.section {
  position: relative;
  display: flex;
  padding: 140px 0vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section.no-top-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.about-us-intro {
  display: grid;
  margin-top: -60px;
  margin-left: 36px;
  padding: 48px 48px 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 100px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  border-radius: 5px;
  background-color: #fff;
  grid-area: 1/2/2/3;
}
.about-us-intro .subtitle {
  justify-self: center;
}

.intro-wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 24px;
  grid-template-columns: minmax(30%, 475px) 1fr;
  grid-template-rows: auto;
}
.intro-content {
  position: relative;
  z-index: 25;
  display: grid;
  padding-top: 18px;
  padding-bottom: 18px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 48px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-self: stretch;
}
.intro-content > div {
  align-self: start;
}

.stacked-intro {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
.body-display.large {
  color: #516381;
  font-size: 19px;
}

.button {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 5px;
  background-color: #3572ff;
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #fff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}
.button.white {
  background-color: #fff;
  color: #081c3a;
}
/* .button.w-inline-block {
  align-self: end;
  justify-self: start;
} */

.intro-right-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 3px;
}

.hero-background-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-image: url("https://assets.website-files.com/60675f13ea324fdd4af9ef2a/6074ef622e17622ba2a018a4_Villa0017.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-background-image.about-intro-background {
  background-image: url("https://assets.website-files.com/60675f13ea324fdd4af9ef2a/607dcd6f4c797d614a152a89_Family0012.jpeg");
}

/* Section - Featured Journal */
.featured-journal-wrapper {
  position: relative;
  z-index: 10;
  display: grid;
  min-height: 400px;
  margin-top: -60px;
  margin-bottom: 60px;
  margin-left: 80px;
  padding: 36px 36px 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 48px;
  grid-row-gap: 60px;
  grid-template-columns: 1fr 0.75fr;
  grid-template-rows: auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: none;
  grid-area: 1/2/2/3;
}
@media screen and (min-width: 1280px) {
  .featured-journal-wrapper {
    padding-top: 48px;
    padding-right: 48px;
    padding-left: 48px;
    grid-column-gap: 60px;
  }
}
.large-journal-list {
  height: 100%;
}
.large-journal-item {
  height: 100%;
}
.large-journal-post {
  position: relative;
  display: flex;
  height: 100%;
  padding-right: 36px;
  padding-left: 36px;
  flex-direction: column;
  justify-content: flex-end;
  color: #081c3a;
  text-decoration: none;
}
.large-journal-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  border-radius: 12px;
}
.journal-post-info {
  position: relative;
  z-index: 10;
  display: grid;
  min-height: 150px;
  margin-bottom: -60px;
  padding: 0px 36px 36px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 12px 36px -8px rgba(53, 64, 117, 0.1);
}
.large-journal-content {
  display: grid;
  margin-top: -12px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
.journal-category-tag {
  display: flex;
  padding: 8px 10px 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f7f8fc;
  font-size: 8px;
  line-height: 1.2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  justify-self: start;
}
.journal-right-wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.journal-right-wrapper .subtitle-intro-wrapper {
  grid-area: 1/1/2/2;
}
.recent-journal-list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
}
.journal-list-item {
  display: grid;
  padding: 6px;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: minmax(120px, 0.5fr) 1fr;
  grid-template-rows: auto;
  border-radius: 5px;
  transition: box-shadow 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #081c3a;
  text-decoration: none;
}
.journal-list-image {
  position: relative;
  overflow: hidden;
  min-height: 100px;
  border-radius: 5px;
}
.journal-list-item-content {
  display: grid;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
.journal-list-info {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 9px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 500;
}
.journal-post-info .outline-button {
  justify-self: start;
}

/* Section - Promise */
.grey-cover.two {
  position: relative;
  overflow: hidden;
  margin-left: 80px;
  background-color: #f7f8fc;
  grid-area: 1/1/2/4;
}
.paralax-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-top: -36px;
  margin-bottom: -36px;
  background-image: url("https://assets.website-files.com/60675f13ea324fdd4af9ef2a/6074ef622e17622ba2a018a4_Villa0017.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.paralax-background.two {
  background-image: url("https://assets.website-files.com/60675f13ea324fdd4af9ef2a/607b6ec5eba5a81fd8c62ddd_031.jpeg");
}
.section-intro {
  position: relative;
  z-index: 10;
  display: grid;
  padding: 140px 0px 200px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 36px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  justify-self: center;
  align-self: center;
}
@media screen and (min-width: 1280px) {
  .section-intro {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
.promise-intro {
  display: grid;
  max-width: 755px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 36px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
#dual-button-left:hover {
  transform: translate3d(0px, 0px, 0px) scale3d(1.03, 1.03, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}
#dual-button-right:hover {
  transform: translate3d(0px, 0px, 0px) scale3d(1.03, 1.03, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}
.dual-buttons {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-self: center;
}
#dual-button-left {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}
#dual-button-right {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}
.outline-button.small:hover {
  border-color: #081c3a;
  background-color: #081c3a;
  color: #fff;
}
.outline-button {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0.2);
  border-radius: 3px;
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #081c3a;
  font-size: 10px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}
.outline-button.white {
  border-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  transition: 1s;
}

/* Journal Posts */
.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
.all-journal-posts {
  position: relative;
  z-index: 10;
  display: grid;
  min-height: 800px;
  margin-left: 80px;
  padding-top: 80px;
  padding-bottom: 140px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 48px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-area: 1/2/2/3;
}
.left-intro {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 18px;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.left-intro .subtitle {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
}

.journal-cards {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
@media screen and (min-width: 1280px) {
  .journal-cards {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}
.journal-card:hover {
  box-shadow: 0 12px 36px -8px rgba(53, 64, 117, 0);
}
.journal-card {
  display: grid;
  overflow: hidden;
  height: 100%;
  padding-bottom: 36px;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(192, 192, 211, 0);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 12px 36px -8px rgba(53, 64, 117, 0.1);
  transition: box-shadow 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #081c3a;
  text-decoration: none;
}

.journal-card-image {
  position: relative;
  overflow: hidden;
  min-height: 275px;
}
.journal-card-info {
  position: relative;
  z-index: 10;
  display: grid;
  margin-top: -12px;
  padding-right: 36px;
  padding-left: 36px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-self: stretch;
}
.journal-category-tag {
  display: flex;
  padding: 8px 10px 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f7f8fc;
  font-size: 8px;
  line-height: 1.2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  justify-self: start;
  align-self: start;
}
.journal-card-description {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-self: start;
}
.body-display.small {
  font-size: 14px;
  line-height: 1.4em;
}

.outline-button.small {
  padding: 9px 18px;
  justify-self: start;
  align-self: end;
}

.pagination {
  margin-top: 48px;
}
.fa-chevron-right {
  margin-left: 5px;
}
/* Footer */
.footer {
  position: relative;
  display: flex;
  justify-content: center;
}
.horizontal-line.left {
  margin-left: 80px;
  grid-area: 1/1/2/4;
  align-self: start;
}
.footer-wrapper {
  display: grid;
  padding-top: 48px;
  padding-bottom: 12px;
  padding-left: 36px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-area: 2/2/3/3;
}
@media screen and (max-width: 991px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767px) {
  .footer-wrapper {
    padding-left: 0px;
  }
}
.footer-pages {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 12px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  justify-self: start;
}
@media screen and (max-width: 991px) {
  .footer-pages {
    margin-bottom: 24px;
    justify-self: center;
  }
}
@media screen and (max-width: 767px) {
  .footer-pages {
    grid-template-columns: 1fr;
  }
}
.footer-destinations {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.footer-destination-text {
  padding: 9px 14px;
  border-radius: 5px;
  background-color: #f7f8fc;
}
@media screen and (max-width: 767px) {
  .footer-destination-text {
    display: flex;
    padding-bottom: 18px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(192, 192, 211, 0.2);
    background-color: transparent;
  }
}
.footer-link {
  position: relative;
  display: flex;
  width: 100%;
  padding: 9px 14px;
  justify-content: center;
  align-items: center;
  color: #081c3a;
  text-decoration: none;
}
.footer-logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  align-self: center;
  justify-self: end;
}
@media screen and (max-width: 991px) {
  .footer-logo {
    justify-self: center;
  }
}
.thin-span {
  font-weight: 500;
}
.credit-text {
  color: #516381;
  font-size: 12px;
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 2;
  justify-self: end;
}
@media screen and (max-width: 991px) {
  .credit-text {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    justify-self: center;
  }
}
